/devgulp/node_modules
/devgulp/app/
/ortodont1.zip
/devgulp/app/**/**
/devgulp/app/**
/.git
/ortodont1/backup
/ortodont1/img/homepage/**/*.psd
/ortodont1/img/homepage/*.psd
/**/*.psd
/ortodont1/img/homepage/**/*.ai
/ortodont1/img/homepage/*.ai
/**/*.ai
/ortodont1/img/homepage/**/*.eps
/ortodont1/img/homepage/*.eps
/**/*.eps
/**/Thumbs.db
/fonts/Delete
