/* 



.search-trigger {
  display: none;
  color: #FFF;
  position: relative;
  cursor: pointer;
  top: 1px;
  margin-left: 20px;
}

@media (min-width: 960px) {

  .search-trigger {
    display: inline-block;
    top: 6px;
  }
}

.search-trigger:hover {
  opacity: .65;
}

.social-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -8px;
}


/* Seach Form */

.search-form {
  background-color: #DEDEDE;
  padding: 20px;
  text-align: center;
}

.search-form label {
  display: block;
}

.search-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form .s {
  min-width: 20px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

@media (min-width: 530px) {

  .search-form .s {
    font-size: 1.4rem;
  }
}

.search-submit {
  color: #FFF;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #0D3B66;
  font-family: 'Roboto', sans-serif;
  padding: 0 20px;
  margin-left: 10px;
}

.note-limit-message {
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-out;
  color: #c32929;
  font-weight: bold;
}

.note-limit-message.active {
  visibility: visible;
  opacity: 1;
}

/* Like Box */

.generic-content .like-box {
  float: right;
  font-size: 1rem;
  background-color: #EDEDED;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
  color: red;
  padding: 10px 10px 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 0 30px 30px;
  position: relative;
}

.generic-content .like-box:hover {
  background-color: #DEDEDE;
}


.search-overlay {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .96);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  transition: opacity .3s, visibility .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s, visibility .3s;
  transition: opacity .3s, transform .3s, visibility .3s, -webkit-transform .3s;
  box-sizing: border-box;
}

.search-overlay p {
  padding-top: 15px;
}

.search-overlay .event-summary p {
  padding-top: 0;
}

.search-overlay .event-summary {
  margin-bottom: 0;
  margin-top: 20px;
}

body.admin-bar .search-overlay {
  top: 32px;
}

.search-overlay__top {
  background-color: rgba(0, 0, 0, .12);
}

.search-overlay__icon {
  margin-right: 10px;
  font-size: 1.8rem;
  color: #F95738;
}

@media (min-width: 960px) {

  .search-overlay__icon {
    font-size: 2.5rem;
  }
}

.search-overlay--active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.search-overlay__section-title {
  margin: 30px 0 1px 0;
  font-weight: 400;
  color: #0D3B66;
  font-size: 2rem;
  padding: 15px 0;
  border-bottom: 1px solid #CCC;
}

.search-overlay__close {
  position: absolute;
  top: 13px;
  right: 16px;
  font-size: 2.1rem;
  cursor: pointer;
  transition: all .3s;
  background-color: #FFF;
  color: #F95738;
  line-height: .7;
}

@media (min-width: 530px) {

  .search-overlay__close {
    top: 18px;
    font-size: 2.1rem;
  }
}

@media (min-width: 960px) {

  .search-overlay__close {
    top: 26px;
    font-size: 2.8rem;
  }
}

.search-overlay__close:hover {
  opacity: 1;
}

.search-overlay .one-half {
  padding-bottom: 0;
}

.search-term {
  width: 75%;
  box-sizing: border-box;
  border: none;
  padding: 15px 0;
  margin: 0;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 300;
  outline: none;
  color: #F95738;

}

@media (min-width: 530px) {

  .search-term {
    font-size: 1.5rem;
  }
}

@media (min-width: 960px) {

  .search-term {
    width: 80%;
    font-size: 3rem;
  }
}

.body-no-scroll {
  overflow: hidden;
}
 */
